@import 'utilities.css';

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;  
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    /*height: 8000px;*/
	font-family: 'Heebo',sans-serif;
}

header{
	background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
	padding: 51px 107px;
    padding-bottom: 120px;
}

header .right a{
    text-decoration: none;
    color: var(--light);
    padding-left: 1.5rem;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    cursor: pointer;

}

/*------------------------------------------------------------------*/
/*---------------bio-------------------*/

section.bio{
	background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
	height: 600px;
    padding: 0;
    margin:0;



}

section.bio .container{

    background-color: var(--white);
    margin: 0 90px;
    border-radius: 10px;
    padding-top: 20px;
    /*margin-left: 4rem;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

section.bio .container .photo{
    margin: 2rem;
}

section.bio .container .data{
    padding-left: 4rem;
    
}
section.bio .container .data h6{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    color: var(--dark);
    font-weight: 400;
    /*padding-bottom: 10px;*/
}

section.bio .container .data h1{
    font-family: 'Heebo',sans-serif;
    font-size: 48px;
    font-weight: 700px;
    color: var(--dark);
    /*line-height: 2rem;*/
    /*padding-bottom: 10px;*/

}

section.bio .container .data h4{
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
    padding-bottom: 2rem;
}
section.bio .container .data p{
    color: #777777;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
section.bio .container .data .address{
    padding-top: 2rem;
}

section.bio .container .data .address ul{
    list-style-type: none;
}

section.bio .container .data .address li span{
    font-size: 20px;
    color: #9cf;
    padding-right: 20px;
}

section.bio .container .data .address li a{
    text-decoration: none;
    color: #777;
}

section.bio .container .data .address li{
    padding-bottom: 20px;

}
section.bio .container .data .social .card{
    height: 40px;
    width: 40px; 
    background-color: #e8e8e8;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 5px;

}

section.bio .container .data .social .card span{
    font-size: 20px;
    color: var(--white);
    padding-right: 20px;
    justify-content: center;
    padding-left: 10px;
    padding-top: 10px;

}

section.bio .container .data .social .card:hover{
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    /*opacity: 0.5;*/
}

/*------------------------------------------------------------------*/
/*---------------bio end-------------------*/


/*------------------------------------------------------------------*/
/*-----------------------------skill-----------------------------------*/
section.skill .container{
    padding-top: 150px;
}

section.skill .container .about{
    margin-left: 100px;
}

section.skill .container .about h1{
    font-size: 36px;
    line-height: 43px;
    font-family: 'Heebo',sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    color: var(--dark);

}

section.skill .container .about p{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #777;
    /*padding-bottom: 30px;*/
}

section.skill .container .about .card-wrapper{
    padding-top: 30px;
   
}

section.skill .container .about .card-wrapper .card{
    border:1px solid #8ff;
    background-color: #8ff;
    border-radius: 5px;
    align-content: center;
    padding: 20px; 
    margin-left: 15px;
}

section.skill .container .about .card-wrapper .card span{
    font-size: 20px;
    /*color: #89f;*/
    color: var(--dark);
    padding-right: 20px;
    justify-content: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

section.skill .container .about .card-wrapper .card h4{
    font-size: 24px;
    font-family: 'Heebo',sans-serif;
    font-weight: 700;
    line-height: 28px;
    color: var(--dark);
    padding-bottom: 10px;

}

section.skill .container .progress-container{
    padding-left: 20px;
    /*margin-left: 10px;*/
    padding-bottom: 200px;
    padding-top: 70px;
    padding-right: 120px;

}
section.skill .container .progress-container .skill-items{
    margin-bottom: 15px;
}

section.skill .container .progress-container .skill-items:last-child{
    margin-bottom: 0px;
}
section.skill .container .progress-container .skill-items .progress-bar-1{
    border: 1px solid #eeeeee;
    padding: 5px;
    border-radius: 10px; 
    width: 550px;

}

section.skill .container .progress-container .skill-items .progress-bar-2{
    height: 10px;
    width: 535px;
    border-radius: 10px;
    background: #e8e8e8;

    /*background-color: var(--dark);*/

}

section.skill .container .progress-container .skill-items .progress-bar{
    width: 65%;
    transition: width .6s ease;
    height: 10px;
    border-radius: 5px;
    vertical-align: middle;
    align-self: center;
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}


section.skill .container .progress-container .skill-items h4{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: var(--dark);
    padding-bottom: 20px;
}

/*------------------------------------------------------------------*/
/*-----------------------------skill end-----------------------------------*/

/*------------------------------------------------------------------*/
/*-----------------------------client-----------------------------------*/

section.client {
    padding: 100px 0;
    background-color: #f9f9f9;
}

section.client .container .title {
    text-align: center;
    margin: 0px 130px 75px;
}



section.client .container .title h2{
    font-family: 'Heebo',sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0px 0px 15px;
}

section.client .container .title p{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #777;
}

section.client .container .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0px 40px;
    margin-left: 100px;
    margin-right: 100px;
}

section.client .container .card-wrapper .card{
    background: #fff;
    padding: 50px 35px;
    border-radius: 10px;
    transition: all .3s ease;
}

section.client .container .card-wrapper .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

section.client .container .card-wrapper .card .item .icon {
    font-size: 50px;
    margin-bottom: 20px;
    color: #e9e9e9;


}

section.client .container .card-wrapper .card:hover .item .icon{
   background: linear-gradient(to right, #8490ff 0%, #62bdfc 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*------------------------------------------------------------------*/
/*-----------------------------client end-----------------------------------*/



/*------------------------------------------------------------------*/
/*-----------------------------work start-----------------------------------*/
section.work{
    padding: 100px 0px;
}

section.work .container .title {
    text-align: center;
    margin: 0px 130px 75px;
}

section.work .container .title h2{
    font-family: 'Heebo',sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0px 0px 15px;
}

section.work .container .title p{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #777;
}

section.work .container .link ul{
    list-style-type: none;

}
section.work .container .link li{
    display: inline-block;
    /*float: left;*/
    padding-right: 45px;
    transition: all .3s ease;

}

section.work .container .link li a{
    text-decoration: none;
    color: var(--dark);
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;

}

section.work .container .link{
    padding: 0px 30%;
    padding-bottom: 3rem;
}

section.work .container .link li:hover a{
    color: #766dff;
}


section.work .container .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin: 0px 100px;
}

section.work .container .card-wrapper .card .card-content h4{
    font-family: 'Heebo',sans-serif;
    font-weight: 700;
    font-size: 21px;
    margin: 22px 0px 8px;
    text-align: center;
}

section.work .container .card-wrapper .card .card-content p{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #777;
    text-align: center;
}

section.work .container .card-wrapper .card {
    position: relative;
}
section.work .container .card-wrapper .card .img img{
    width: 100%;
    height: 100%;
}
/*section.work .container .card-wrapper .card .overlay{
    position: absolute;
    top: 30%;
    left: 37%;
    opacity: 0;
    width: 100%
    height:100%;
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);

}*/
section.work .container .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    /*background: rgba(61,207,211,0.8);*/
    /*color: var(--primary);*/
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light);
    opacity: 0;
    transition: all .3s ease;
}

section.work .container .card-wrapper .card:hover .overlay{
    opacity: 0.8;
}

section.work .container .card-wrapper .card:hover h4{
    color: #766eff;
}

section.work .container .btn{
    display: block;
    text-align: center;
    margin-top: 80px;
}
section.work .container .btn button{
    padding: 0.8rem 2rem;
    border-radius: 6px;
    border:1px solid blue;
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);

}
section.work .container .btn button a{
    text-decoration: none;
    color: white;

}


/*------------------------------------------------------------------*/
/*-----------------------------work end-----------------------------------*/



/*------------------------------------------------------------------*/
/*-----------------------------test start-----------------------------------*/
section.test .container{
    /*margin: 100px 0px;*/
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: #e9e9e9;
}

section.test .container .slider{
    padding:0px 60px;

}

section.test .container .slider .slide{
    padding: 2rem 2rem;
    background: white;
    margin-bottom: 2rem;
    border:1px solid white;
    /*padding-right: 2rem;*/
    margin-right: 2rem;
    border-radius: 5px; 
    /*display: float;*/
    /*float: left;*/
}
section.test .container .slider .slide p{
    padding-bottom: 1rem;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #777;
    /*text-align: center;*/
    /*padding-bottom: 50px;*/
}
section.test .container .slider .slide h4{
    padding-bottom: 1rem;
}

section.test .container .slider .slide i{
    color: gold;
}


/*------------------------------------------------------------------*/
/*-----------------------------test end-----------------------------------*/

/*------------------------------------------------------------------*/
/*-----------------------------footer start-----------------------------------*/

footer {
    padding: 120px 0;
    background: #000;

}
footer .container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 3rem;
    padding-left: 100px;

}

footer .container h3{
    font-family: 'Heebo',sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 2rem;

}
footer .container p{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #777;
    /*text-align: center;*/
    padding-bottom: 1.2rem;
}



footer .container .about h3{
    padding-bottom: 2.5rem;
}

footer .container .news input{
    border: 1px solid #1e233b;
    padding: 0.7rem 1rem;
    width: 320px;
    /*margin: 1rem;*/
    font-size: 14px;
    background: black;
    color: white;
    text-align: left;
}

footer .container .news button{
    padding:10px;
    border:1px solid transparent;
    cursor: pointer;
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);


}
footer .container .news button i{
    font-size: 15px;
}
footer .container .social i{
    padding-right: 10px;
    color: white;

}
footer .container .social p{
    padding-bottom: 15px;
}
footer .container .social i:hover{
    background: linear-gradient(to right, #8490ff 0%, #62bdfc 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}